header{
    position: relative;
    background: #dbcd87;
    
    
    height: 15.4em;
    min-height: 250px;
}

header a, nav{
    position: absolute;
    top: 0;
    height: 250px;
}



header > a{
    font-size: 0.001px;
    width: 100%;
    left: 0;
    
    background: url(../assets/topo-imagem-principal.png) no-repeat;

}

header a img{
    position: absolute;
    top: 15px;
    left: 15px;

    width: 151px;
    height: 66px;
}

header nav{
    width: 450px;
    right: 0;
    padding-top: 15px;
    background: url(../assets/topo-imagem-lateral.png) no-repeat;
   
}


.search-location{
    margin: 0 15px 0 90px;
    border-top: 1px solid #b5ab56;
    border-bottom: 1px solid #b5ab56;
    font-size: 0.8em;
    color: #8b8848 ;
}
.search-location button{
    margin-left: 25px;
    padding: 5px;
    background: #a29750;
    color:#fff5b0 ;
    border: none;
}

.search-location button:hover{
    background: #a29725;
    cursor: pointer;
}

header  ul {
    list-style: none;
    
    margin: 0 15px 0 90px;
    padding-top: 15px ;
}

header  ul  a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 5px;
  color: #6e672c;
  line-height: 30px;
}

header  ul  a:hover{
    background: #fdf6be;
}

header  ul img {
    float: right;
}